main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 5px;
    padding: 5px;

}

.list-itemEl {
    list-style: none;
    margin: 2px;
    padding: 3.25px;
    border-top: 1px solid lightgray;
}

li:first-child, last-child {
    border: none;
    }

.list-item {
    transition: all .25s ease-in-out;
}

.list-item:hover {
    font-size: 115%;
    cursor: pointer;
}

.completed-item {
    text-decoration: line-through;
    color: darkgray;
}
.buttonpie{
    display:flex;
    position:relative;
    right:-485px;
    margin-bottom: 10px;;
    cursor:pointer;
    border-radius: 40%;
    padding:8px;
}
