main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 5px;
    padding: 5px;

}
html {
    min-height: 100%;
    background-image: url(../assets/pexels-presentsquare-5681375.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 110%;
    width: auto;
}
.list-itemEl {
    list-style: none;
    margin: 2px;
    padding: 3.25px;
    border-top: 1px solid rgba(241,49,34,255);
}

li:first-child, last-child {
    border: none;
    }

.list-item {
    transition: all .25s ease-in-out;
}

.list-item:hover {
    font-size: 115%;
    cursor: pointer;
}

.completed-item {
    text-decoration: line-through;
    color: darkgray;
}
.buttonpie{
    display:flex;
    position:relative;
    right:-1197px;
    top:-40px;
    margin-bottom: 10px;;
    cursor:pointer;
    border-radius: 40%;
    padding:8px;
    background-color: var(--secondary-color);
    color: black;
}
.buttonpie:hover{
    background-color: rgba(241,49,34,255);
    color: rgba(52,52,52,255);
    transform: scale(1.25);
}
.frosted-background {
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

