html {
    min-height: 100%;
    background-image: url(../assets/results-background.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 100%;
    width: auto;
}

main {
    display: grid;
    grid-template-rows: 1fr 1fr auto 1fr 1fr;
}

main > * {
    margin-top: 30px;

}

.side-by-side {
    display: flex;
    justify-content: space-around;
}

.side-by-side > * {
    width: 45%;
}

#essential-ul, #suggested-ul {
    list-style-type: none;
}

.frosted-background {
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 10px;
}