html {
    min-height: 100%;
    background-image: url(../assets/results-background.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: auto;
}

#complete-pie {
    height: 300px;
    width: 300px;
    display: flex;
}

.chart-container {
    width: 100%;
}

main {
    display: grid;
    grid-template-rows: 2fr 1fr auto 1fr 1fr;
}

main > * {
    margin-top: 30px;

}

.side-by-side {
    display: flex;
    justify-content: space-around;
}

.side-by-side > * {
    width: 45%;
}

.link-container {
    list-style-type: none;
    margin: 2px;
    padding: 3.25px;
    border-top: 1px solid rgba(241,49,34,255);
}

.link-item {
    color: black;
    text-decoration: none;
}

.visited {
    color: rgba(234, 25, 29, 0.618);
}

.completed-item {
    text-decoration: line-through;
    color: darkgray;
}