:root {
    --primary-color: black;
    --secondary-color: rgba(255, 255, 255, 0.397);
}

* {
    margin: 0;
    padding: 0;    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: var(--primary-color);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.left-header {
    color: white;
    font-size: 40px;
    position: relative;
    left: 30px;
}

.right-header {
    position: relative;
    right: 30px;
}

.logo {
    width: 90px;
    height: 90px;
}